

table {
  width: 100%;
}

/* Table Strap */
.mat-row:nth-child(even){
  background-color: rgba(145, 156, 144, 0.466);
}
      
.mat-row:nth-child(odd){
  background-color: white;
}



th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}




